<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>


    <link rel="stylesheet" th:href="@{bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{home.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>

    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->

    <script th:src="@{jquery.min.js}"></script>
    <script th:src="@{bootstrap.min.js}"></script>
    <script th:src="@{imageDisplay.js}"></script>
</head>
<body>
<br>
<br>
<br>
<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">
        <div class="row">
            <div th:if="${status}" id="alertMessage">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <span th:text="${message}" data-dismiss="alert"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card border-dark mb-3 w-100">
                <div class="card-header">Reset Password
                </div>
                <div class="card-body text-dark">
                    <form action="/changePassword" method="post" th:object="${user}">
                        <div class="form-group row">
                            <label for="loginusername" class="col-sm-4 col-form-label">Email/Username</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="loginusername" name="username"
                                       placeholder="Email / Username" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-sm-4 col-form-label">Password</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" id="password" name="password"
                                       placeholder="Password" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="confirmPassword" class="col-sm-4 col-form-label">Confirm Password</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                       placeholder="Confirm Password" required>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <small><a href="/home">Go To login Page</a></small>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-5">
                                    <button type="submit" class="btn btn-primary">Reset&nbspPassword</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
</body>
</html>