<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymleaf.org">
<head>
    <title>Topic</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/favicon.png}"/>

    <link rel="stylesheet" th:href="@{/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/home.css}"/>
    <link rel="stylesheet" th:href="@{/dashboard.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>

    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->

    <script th:src="@{/jquery.min.js}"></script>
    <script th:src="@{/bootstrap.min.js}"></script>
</head>
<body>
<br>
<div class="container">
    <div class="row mainRow">
        <div class="col-md-5">
            <a href="/home" class="link"><h3>Link Sharing</h3></a>
        </div>

        <!--Search Bar-->

        <div class="col-md-5">
            <div class="input-group">
                <div class="input-group-prepend bg-white">
                    <span class="input-group-text border-right-0 rounded-right bg-white"><i
                            class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control border-right-0 border-left-0" placeholder="Search"
                       aria-label="Username" aria-describedby="basic-addon1">
                <div class="input-group-prepend bg-white">
                    <span class="input-group-text border-left-0 rounded-right bg-white"><i
                            class="fas fa-times-circle"></i></span>
                </div>
            </div>
        </div>


        <!--User Tab-->

        <div class="col-md-2">
            <div class="nav navbar float-right" th:unless="${sessionExists}"><a th:href="@{/home}"> Login </a></div>
            <div class="nav navbar float-right" th:if="${sessionExists}">
                <li class="dropdown"><i class="fas fa-user"> &nbsp &nbsp </i><a class="dropdown-toggle"
                                                                                data-toggle="dropdown" th:text="*{user.firstName}"
                                                                                href="#">User<span
                        class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-pad-left">
                        <li><a th:href="@{/dashboard}"> Dashboard</a></li>
                        <li><a th:href="@{/profile}"> Profile</a></li>
                        <li><a th:href="@{/logout}"> Logout</a></li>
                    </ul>
                </li>
            </div>
        </div>

    </div>

    <br>

    <div class="row">
        <div class="col-md-5">

            <!--Topic-->

            <div class="row">
                <div class="card border-dark mb-3">
                    <div class="card-header" th:text="'Topics: '+${topic.name}">Topic:
                    </div>
                    <div class="card-body text-dark">
                        <div class="card mb-3">
                            <div class="row no-gutters">
                                <div class="col-md-3">
                                    <img th:src="@{/image/} + ${topic.user.imagePath}" class="card-img">
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <h5 class="card-title"
                                            th:text="${topic.name}+ ' (' +${topic.visibility.getValue()+')'}"></h5>
                                        <p class="card-text">
                                        <table class="w-100 font-size-15" cellspacing="14px">
                                            <tr>
                                                <td th:text="'@' + *{topic.user.username}"></td>
                                                <th>Subscribers</th>
                                                <th>Posts</th>
                                            </tr>
                                            <tr>
                                                <td><a href="#">Unsubscribe</a></td>
                                                <td th:text="${@subscriptionService.getSubscriptionCount(topic)}"></td>
                                                <td th:text="${@resourceService.getResourceCount(topic)}"></td>
                                            </tr>
                                        </table>
                                        </p>
                                        <p class="card-text" align="right" th:if="${sessionExists}">
                                            <small class="text-muted">
                                                <select class="col-md-4">
                                                    <option>Serious</option>
                                                    <option></option>
                                                    <option></option>
                                                </select>&nbsp &nbsp &nbsp
                                                <a href="#"><i class="far fa-envelope">&nbsp &nbsp</i></a></small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Users-->

            <div class="row">
                <div class="card border-dark mb-3 w-100">
                    <div class="card-header">
                        <div th:text="'Subscribers: '+${topic.name}"></div>
                    </div>
                    <div class="card-body text-dark">
                        <div class="card mb-3" th:each="topicSubscriber:${topicSubscribers}">
                            <div class="row no-gutters">
                                <div class="col-md-3">
                                    <img th:src="@{/image/} + ${topicSubscriber.user.imagePath}" class="card-img">
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <h5 class="card-title"
                                            th:text="${topicSubscriber.user.firstName}+' ' +${topicSubscriber.user.lastName}"></h5>
                                        <p class="card-text">
                                            <span th:text="'@' + *{topicSubscriber.user.username}"></span>
                                        <table class="w-100 font-size-15" cellspacing="14px">
                                            <tr>
                                                <th>Subscriptions</th>
                                                <th>Posts</th>
                                            </tr>
                                            <tr>
                                                <td th:text="${@subscriptionService.getSubscription(topicSubscriber.user)}"></td>
                                                <td th:text="${@resourceService.getResourceCount(topicSubscriber.user)}"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-6">

            <!--Posts-->
            <div class="row">
                <div class="card border-dark mb-3 w-100">
                    <div class="card-header">
                        <div th:text="'Posts: '+${topic.name}"></div>
                    </div>
                    <div class="card-body text-dark">
                        <div class="card mb-3" th:each="subscribedResource:${subscribedResources}">
                            <div class="row no-gutters">
                                <div class="col-md-3">
                                    <img th:src="@{/image/} + ${subscribedResource.user.imagePath}"
                                         class="card-img" alt="...">
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <p class="card-title">
                                        <span class="font-size-23"
                                              th:text="${subscribedResource.user.firstName} + ' ' +${subscribedResource.user.lastName}"></span>
                                        </p>
                                        <p class="card-text" th:text="${subscribedResource.description}"></p>
                                        <p class="card-text">
                                            <small class="text-muted"><a href="https://www.facebook.com"
                                                                         target="_blank">
                                                <i class="fab fa-facebook-f">&nbsp &nbsp</i></a><a
                                                    href="https://www.twitter.com" target="_blank"> <i
                                                    class="fab fa-twitter"></i>&nbsp &nbsp</a><a
                                                    href="https://aboutme.google.com" target="_blank"><i
                                                    class="fab fa-google-plus"></i></a></small>
                                            <span class="font-size-11 float-right link"><a class="link"
                                                                                           href="">Download</a>&nbsp&nbsp&nbsp<a
                                                    class="link"
                                                    href="">View Full Size</a>&nbsp&nbsp&nbsp<a class="link"
                                                                                                href="">Mark as Read</a>&nbsp&nbsp&nbsp<a
                                                    class="link"
                                                    th:href="@{'/resource/'+ ${subscribedResource.id}}">View post</a></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>